/* Targeting the input box specifically within the customDatePicker scope */
.customDatePicker :global .rs-input-group {
  background-color: #F0F2F5; /* Example background color */
  color: #617A8A; /* Example font color */
}

.customDatePickerInput :global .rs-input {
  background-color: #F0F2F5; /* Example background color */
  color: #617A8A; /* Example font color */
}

.customDatePickerPlaceholderText :global .rs-input-group::placeholder {
  color: #617A8A; /* New placeholder text color */
}