@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    font-family: var(--font-family-base);
  }

  body {
    @apply bg-background text-foreground;
  }

  input {
    @apply bg-[#F0F2F5] text-black;
  }

  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 0%);
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --font-family-base: "Plus Jakarta Sans", sans-serif;
  }

  .dark {
    --background: 0 0% 0%;
    /* Updated to represent black */
    --foreground: 0 0% 100%;


    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}
textarea:focus, input:focus{
  outline: none !important;
}
input,textarea{
  font-size: 16px !important;
}
.container{
  width: 390px;
  margin: auto;
  padding: 0 !important;

}
.small-text{
  font-weight: 400;
  font-size: 0.75rem;
}
.label_text{
  font-weight: 400;
  font-size: 1rem;
}
.subheading{
  font-weight: 700;
  font-size: 1.125rem;
}
.title{
  font-weight: 700;
  font-size: 1.25rem;
}
.title-xl{
  font-weight: 700;
  font-size: 1.5rem;
}
.loader-spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader-spinner::before,
.loader-spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader-spinner::after {
  border-color: var(--primary-color);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 3px;
}
.rs-picker-popup,.rs-picker-select-menu{
  z-index: 9999 !important;
}
.filterDatePicker .rs-stack-item{
width: 100% !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@media only screen and (max-width: 390px) {
  .container{
    width: 100%;
    padding: 0 0.5rem !important;
  }
}
@media only screen and (min-width: 1024px) {
  .container{
    width: 100% !important;
    padding: 0  !important;
    max-width:none !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1023px){
  .container{
    width: 100% !important;
    padding: 0 0.5rem !important;
    max-width:none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .bottom-nav-shadow{
    box-shadow: 8px 4px 32px 0px #0000000D;
 
  }
}

.side-nav-shadow{
  box-shadow: -8px 0px 32px 0px #0000000D;

}
@media only screen and (min-width: 1024px) {

.laptop-gradient{
  background: linear-gradient(180deg, #0B9AEF 0%, #0B7DC0 100%);

}}